.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1 / 7;
  background-color: white;
  align-items: center;
  padding: 1rem; }
  .header__logo {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    grid-column: 1 / 2; }
  .header__nav {
    grid-column: 3 / 4;
    list-style: none; }
  .header__bar {
    display: flex;
    justify-content: space-between; }
  .header__link {
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 400; }
    .header__link--boton {
      text-decoration: none;
      color: black; }
  .header__btn {
    display: flex;
    grid-column: 5 / 6;
    justify-content: flex-end; }
    .header__btn--login {
      background-color: white;
      color: black;
      height: 2.8rem;
      width: 50%;
      font-size: 1.6rem;
      border: 1px solid black;
      border-radius: 4px;
      transition: .3s all; }
      .header__btn--login:hover {
        color: wheat;
        background-color: black; }

.hero {
  display: grid;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-row: hero;
  grid-column: 1 / 7; }
  .hero__center {
    display: grid;
    grid-gap: 5rem; }
  .hero__title {
    font-size: 5.9rem;
    font-weight: 900;
    text-transform: uppercase; }
  .hero__parrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center; }
  .hero__start--btn {
    color: white;
    background-color: black;
    height: 5rem;
    width: 30%;
    font-size: 1.6rem;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 5px;
    border: none;
    transition: .3s; }
    .hero__start--btn:hover {
      color: black;
      background-color: white;
      border: 1px solid black; }

.feature {
  display: grid;
  background-color: #f2f2f2;
  align-items: center;
  padding: 0 16rem;
  grid-row: Feature;
  grid-column: 1 / 7;
  grid-template-columns: repeat(2, minmax(min-content, 1fr)); }
  .feature__left {
    display: grid;
    justify-content: center;
    grid-row-gap: 3rem; }
  .feature__title {
    font-size: 1.9rem; }
  .feature__parrafo {
    font-size: 1.3rem;
    font-weight: 400; }
  .feature__list {
    display: grid;
    grid-row-gap: 1rem;
    font-size: 1.6rem;
    font-weight: 400; }
  .feature__right {
    display: flex;
    justify-content: center; }
    .feature__right--img {
      width: 50%; }

.post {
  display: grid;
  grid-row: Post;
  grid-column: 1 / 7; }
  .post__cards {
    display: grid;
    padding: 10rem 10rem;
    grid-auto-flow: column;
    grid-column-gap: 5rem;
    background-color: #f2f2f2; }
  .post__one {
    color: white;
    font-size: 1rem; }
  .post__card--1 {
    background-color: black; }
  .post__card__one {
    color: wheat; }
  .post__card--2 {
    background-color: #888888; }
  .post__card--3 {
    background-color: #ffffff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  box-sizing: border-box;
  min-height: 100vw;
  width: auto;
  font-size: 62.5%;
  font-weight: 300;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  background-color: silver;
  color: black; }

.container {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: [header] 6rem [hero] 70rem [Feature] 60rem [Post] 76rem [Social] 27rem [footer] 38rem; }
