.feature
{
    display: grid;
    background-color: #f2f2f2;
    align-items: center;
    padding: 0 16rem;
    grid-row: Feature;
    grid-column: 1 / 7;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));

    &__left
    {
        display: grid;
        justify-content: center;
        grid-row-gap: 3rem;
    }

    &__title
    {
        font-size: 1.9rem;
    }

    &__parrafo
    {
        font-size: 1.3rem;
        font-weight: 400;
    }

    &__list
    {
        display: grid;
        grid-row-gap: 1rem;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__right
    {
        display: flex;
        justify-content: center;

        &--img
        {
            
            width: 50%;
        }
    }


}