.footer
{
    display: grid;
    align-content: center;
    justify-items: center;
    grid-row: footer;
    grid-column: 1 / 7;
    background-color: #f2f2f2;

    &__container
    {
        display: grid;
        grid-auto-flow: column;
        width: 60%;
        
    }

    &__sub-container
    {
        display: grid;
        height: 16rem;
        width: 37rem;
    }

    &__title
    {
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__links
    {
        display: flex;
        justify-content: space-evenly;
        width: 22rem;
        height: 17rem;
    }

    &__parrafo
    {
        width: 37rem;
        height: 8rem;
    }
}

.line
{
    display: inline-block;
    border: 1px solid black;
    height: 30rem;
    width: 1px;
}

li
{
    list-style: none;
}